.container {
  position: fixed;
  top: 5%;
  left: 35%;
  max-height: 90%;
  background-color: white;
  overflow-y: scroll;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 5px rgb(236, 147, 14);
  width: 325px;
  z-index: 4;
}

.scoreboard {
  display: grid;
  grid-template-columns: 75px 150px 100px;
  justify-content: center;
  justify-items: center;
  gap: 5px;
  margin: 10px 0;
}

.scoreMessage {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.header {
  font-weight: 600;
}

.header,
.playername,
.scoretime {
  border: solid 2px black;
  padding: 3px;
  border-radius: 5px;
}

.titleBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.scoreboardTitle {
  margin: 0 10px;
  text-align: center;
  width: 100%;
}

.closeBtn {
  width: min-content;
  padding: 2px 5px;
  font-size: 1.2rem;
  border: solid 2px black;
  border-radius: 5px;
}

.nameInput {
  width: 180px;
}

.form {
  display: flex;
  gap: 5px;
}

.submit {
  width: min-content;
  margin-left: auto;
}
