.marker {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 60px;
  z-index: 2;
}

.arrow {
  color: red;
  text-align: center;
  font-size: 2rem;
  margin: 0;
}
.name {
  background-color: rgba(255, 255, 255, 0.7);
  color: red;
  padding: 5px;
  border-radius: 5px;
  margin: 0;
  text-align: center;
  font-size: 0.7rem;
}
