.mainImage {
  height: 90%;
  width: auto;
}

.container {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 0;
  margin: 0;
}

.position {
  margin-top: 10px;
}
