.mainImage {
  width: 900px;
  height: auto;
}

.container {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10px;
  left: calc((100vw - 900px) / 2);
  padding: 0;
  margin: 0;
}

.message {
  margin: 10px;
  color: orangered;
  min-height: 1rem;
}

.title {
  margin: 5px;
  padding: 5px;
  font-size: 1.5rem;
  text-align: center;
  border: solid 2px orangered;
  color: orangered;
  border-radius: 5px;
}
