.container {
  position: absolute;
}

.selectedCircle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  background-color: rgba(50, 192, 202, 0.5);
}

.dropdownList {
  margin-top: 5px;
  padding: 0;
  list-style-type: none;
  animation-name: expand;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transform-origin: top;
}

.character {
  background-color: rgb(34, 131, 138);
  color: white;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 2px 2px 2px 3px white;
}

@keyframes expand {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(0.7);
  }
  100% {
    transform: scaleY(1);
  }
}
