.container {
  position: absolute;
  gap: 2px;
  justify-content: center;
  padding: 0;
  z-index: 3;
}

.selectedCircle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  background-color: rgba(50, 192, 202, 0.5);
}

.dropdownList {
  margin-top: 5px;
  padding: 0;
  list-style-type: none;
  animation-name: expand;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transform-origin: top;
}

.dropdownList:last-child {
  margin-bottom: 0;
}

.character {
  background-color: rgb(34, 131, 138);
  color: white;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 2px;
  box-shadow: 1px 1px 3px 2px white;
  font-size: 0.7rem;
  height: 12px;
}

@keyframes expand {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(0.7);
  }
  100% {
    transform: scaleY(1);
  }
}
